{% extends 'base.html' %}


{% block content %}

<div class="container">
  <div class="row text-center">
    <div class="span12">
      <div class="hero-unit center">
          <h1>Nou pa rive Jwenn Paj Sa <small><font face="Tahoma" color="red">Ralph Poko fe l !!</font></small></h1>
          <br />
          <p>Paj saw mande a nou pa arive Jwenn li surement Ralph Winner Poko fel oubyen w pedi Sou sit laa!! </br> 
             Utilize <b> Bouton Bak </b> navigate web ou a pou tounen sou paj ou te ye aa! </p>
          <p><b>Oubyen Che Utilizate ou ka klike sou bouton saa, lap flanke w nan Akey sit la:</b></p>
          <a href="{% url 'home' %}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Tounen nan Akey la </a>
        </div>
    </div>
  </div>
</div>
</br></hr></br>

{% endblock %}